*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.greenBorder {
  border-style: solid;
  border-width: 5px;
  border-color: #00b3b4;
  width: 1200px;
  height: 800px;
}

.container {
margin-left: 125px;
margin-right: 125px;
margin-top: 250px;
margin-bottom: 250px;
}

.grayBox {
  background-color: #787878;
  width: 300px;
  height: 300px;
  float: left;

}

.blueBox {
  border-style: solid;
  border-width: 3px;
  border-color: #4586c8;
  background-color: #75c1ff;
  height: 200px;
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}

img{
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box{
  height: 60px;
  width: 150px;
  border-style: solid;
  border-color: #767676;
  background-color: #b6b6b6;
  color: #b417a5;
  position: absolute;
  top: 73% ;
  left: 50%;
  transform: translate(-50%,-27%);
  font-size: 12px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.header {
  font-size: 20px;
  color: #b417a5;
  position: absolute;
  padding-left: 73.5px;
  padding-top: 68px;
}

.purpleHeader {
  border-style: solid;
  border-width: 3px;
  border-color: #b417a5;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 21.75% ;
  left: 40%;
  transform: translate (-60%,-78.25%);
}

.numbers {
  position: absolute;
  top: 05% ;
  left: 85%;
  transform: translate (-15%, -95%);
}

.purpleBox {
  border-style: solid;
  border-width: 3px;
  border-color: #b417a5;
  height: 252px;
  width: 500px;
  /*margin-left: 50px;*/
  position: absolute;
  top: 26% ;
  left: 40%;
  transform: translate (-60%,-74%);
}

.purpleBox p {
  margin-left: auto;
  margin-right: auto;
  width: 17em;
  min-height: 14em;
  /*display: table-cell;*/
  vertical-align: middle;
  justify-content: center;
}
